<% include ../partials/_header %>




<div class="slide-one-item home-slider owl-carousel"  >
    <div class="site-blocks-cover overlay" style="background-image: url(https://res.cloudinary.com/dsk4fft6r/image/upload/v1661525411/WhatsApp_Image_2022-08-26_at_11.46.59_AM_glo5ht.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10">
             <h1 class="mb-2">Propiedades a la venta</h1>
           </div>
        </div>
      </div>
    </div>  
 </div>



  <div class="site-section site-section-sm bg-light">
      <div class="container">
        <div class="row mb-5">
          <% produno.forEach(function (produn) { %>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="property-entry h-100">
              <a href="/venta-detalles/<%= produn.id %>" class="property-thumbnail">
                <div class="offer-type-wrap">
      
                </div>
                <img src="<%= produn.imageuno %>" alt="Image" class="img-fluid">
              </a>
             
              <div class="p-4 property-body">
                 
                <h2 class="property-title"><%= produn.name %></h2>
                <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> <%= produn.title %></span>
                <strong class="property-price text-primary mb-3 d-block text-primary">€ <%= produn.price %></strong>
                <ul class="property-specs-wrap mb-3 mb-lg-0">

                  <li>
                        <!-- <span class="property-specs"> 
                          <img src="https://res.cloudinary.com/dsk4fft6r/image/upload/c_scale,w_25/v1656346048/1606239_n4aolu.png">
                        </span> -->

                        <span class="property-specs-number">
                            <img src="https://res.cloudinary.com/dsk4fft6r/image/upload/c_scale,w_30/v1662653194/images_pw3ywc.png" >
                          Beds: <%= produn.color %></span> 
                  </li>
                  <br>
                  <!-- <li>
                    <span class="property-specs"> 
                      <img src="https://res.cloudinary.com/dsk4fft6r/image/upload/c_scale,w_20/v1656340397/182657_ycmmol.png">
                    </span>
                    <span class="property-specs-number"><%= produn.enstock %></span> 
                  </li> -->
                  <li>
                    <!-- <span class="property-specs">  
                       <img src="https://res.cloudinary.com/dsk4fft6r/image/upload/c_scale,w_20/v1661376513/WhatsApp_Image_2022-08-24_at_6.26.21_PM_jbaisz.jpg" alt="">
                    </span> -->
                    <span class="property-specs-number">
                        <img src="https://res.cloudinary.com/dsk4fft6r/image/upload/c_scale,w_30/v1662653194/images_pw3ywc.png" >
                        Bath: <%= produn.colorstock %></span>
                    
                  </li>
                 <br>
                  
                  <li>
                      <!-- <span class="property-specs"> 
                         <img src="https://res.cloudinary.com/dsk4fft6r/image/upload/c_scale,w_22/v1662497087/WhatsApp_Image_2022-09-06_at_17.42.47_m8nzot.jpg" alt="">
                        </span> -->
                      <span class="property-specs-number">
                          <img src="https://res.cloudinary.com/dsk4fft6r/image/upload/c_scale,w_30/v1662653194/images_pw3ywc.png" >

                        m2 built: <%= produn.talle %></span>
                      
                  </li>

                  <br>

                  <li>
                    <!-- <span class="property-specs"> 
                      <img src="https://res.cloudinary.com/dsk4fft6r/image/upload/c_scale,w_20/v1656340397/182657_ycmmol.png">
                    </span> -->
                    <span class="property-specs-number">
                        <img src="https://res.cloudinary.com/dsk4fft6r/image/upload/c_scale,w_30/v1662653194/images_pw3ywc.png" >

                      m2 Plot: <%= produn.enstock %></span> 
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
    
        <div class="row">
            <div class="col-md-12 text-center">
              <div class="site-pagination">
                
                      <% if(pages > 0) { %> <!-- show pagination if there is pages -->
      
                          <!-- FIRST ITEM -->
                          <% if(current == 1) { %>
                          
                              <a   href="#">First</a>
                          
                          <% } else { %>
                            
                              <a   href="/venta/1">First</a>
                          
                          <% } %>
                          <!-- ITEMS  -->
                          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                          <% if(i !== 1) { %>
                           
                              <a  href="#">...</a>
                            
                          <% } %>
                          <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if(i == current) { %>
                              
                                <a  href="<%= i %>">
                                  <%= i %>
                                </a>
                          
                            <% } else { %>
                            
                                <a   href="/venta/<%= i %>">
                                  <%= i %>
                                </a>
                            
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                             
                                 <a class="page-link" href="#">...</a>
                            
                            <% } %>
                          <% } %>
                          <!-- LAST ITEM -->
                          <% if(current == pages) { %>
                          
                              <a href="#">
                                Last
                              </a>
                           <% } else { %>
                            
                              <a href="/venta/<%= pages %>">
                                Last
                              </a>
                          
                          <% } %>
                         
                    <% } %>
      
             
              </div>
            </div>  
          </div>
          
        </div>
      </div>
      
    
    
    
    
      
    </div>
    </div>
    </div>
    

      <% include ../partials/_footer %>
      





